html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --main-color: #28283d;
  --light-main-color: #353550;
  --check-color: #8bc34a;
  --btn-color: #fe5416;
  --hover-btn-color: #f77748;
  --active-btn-color: #f84504;
  --checked-text-color: #b7b7b9;
  --main-white-color: snow;
  --hover-checkline-color: #feebda;
  --light-text-color: #fffbeb;
}

body {
  min-height: 100vh;
  background: linear-gradient(
    to bottom right,
    var(--main-color),
    var(--light-main-color)
  );
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__title,
.tasks__title,
.header__desc,
.footer__desc {
  margin: 0;
}

.site-container {
  width: 40%;
  margin: 0 auto;
  padding-top: 30px;
}

.header,
.main {
  margin-bottom: 30px;
}

.header__title,
.header__desc,
.footer__desc {
  display: flex;
  justify-content: center;
  color: var(--light-text-color);
}

.header__title {
  margin-bottom: 10px;
}

.new-task {
  position: relative;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: var(--main-white-color);
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.2);
}

.new-task__input {
  width: 100%;
  padding-right: 120px;
  border: none;
  outline: none;
  background: transparent;
  color: var(--main-color);
}

.new-task__btn {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-radius: 14px;
  padding: 10px 20px;
  background-color: var(--btn-color);
  color: var(--main-white-color);
}

.new-task__btn:hover {
  background-color: var(--hover-btn-color);
}

.new-task__btn:active {
  background-color: var(--active-btn-color);
}

.tasks {
  padding: 20px;
  border-radius: 15px;
  background-color: var(--main-white-color);
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.2);
}

.tasks__title {
  margin-bottom: 15px;
  padding-left: 5px;
  color: var(--main-color);
}

.tasks__checkbox-wrap {
  padding-right: 30px;
  width: fit-content;
  display: flex;
  align-items: center;
}

.tasks__mark,
.tasks__text {
  cursor: pointer;
}

.tasks__mark {
  appearance: none;
  position: relative;
  min-width: 30px;
  min-height: 30px;
  background-color: var(--main-white-color);
  border-radius: 50%;
  border: 1px solid var(--main-color);
}

.tasks__mark::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  background-color: var(--check-color);
  border-radius: 50%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='30' viewBox='0 -960 960 960' width='30' stroke='%23FFFFFF' stroke-width='30' fill='%23FFFFFF'%3E%3Cpath d='M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.tasks__mark:checked::after {
  top: -2px;
  left: -2px;
  width: 32px;
  height: 32px;
}

.tasks__mark:checked + .tasks__text {
  text-decoration: line-through;
  color: var(--checked-text-color);
}

.tasks__text {
  padding-left: 10px;
  color: var(--main-color);
}

.tasks__line {
  display: flex;
  padding: 5px;
}

.tasks__line:hover {
  border-radius: 10px;
  background: var(--hover-checkline-color);
  transition: 200ms;
}

.tasks__btn-del {
  order: 999;
  margin-left: auto;
  width: 30px;
  height: 30px;
  padding: 3px;
}

.tasks__btn-del svg:hover {
  fill: var(--btn-color);
}

.tasks__btn-del svg:active {
  fill: var(--main-color);
}
